.catalogue {
    &-item {
        border-bottom: 1px solid $grey-2;
        color: $default-color;
        display: flex;
        padding: 2rem 0;

        &:hover .catalogue-line,
        &:focus .catalogue-line {
            width: 5rem;
        }

        &:last-child {
            border: 0;
        }
    }

    &-thumbnail {
        position: relative;
        flex-shrink: 0;
        width: 300px;
        margin-right: 15px;

        img {
            margin: 0;
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            object-fit: cover;
        }
    }

    &-time {
        color: $default-tint;
        font-family: $serif-secondary;
        letter-spacing: 0.5px;
    }

    &-title {
        color: $default-shade;
        display: block;
        font-family: $sans-serif;
        font-size: 2rem;
        font-weight: 700;
        margin: 0.5rem 0;
    }

    &-line {
        @include transition(all 0.3s ease-out);
        border-top: 0.2rem solid $default-shade;
        display: block;
        width: 2rem;
    }
}
